.container-fluid {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F6F6;
  height: 100vh;
  padding: 0;
} 
.header {
  background-color: #489D86;
  padding: 0 5vmin;
  margin-bottom: 8vmin;
}
.row-sm {
  height: 5%;
}
.row-md {
  height: 30%;
}
.row-lg {
  height: 45%;
}
.pd-lg {
  padding: 0 25%;
}
.col-12 {
  text-align: center;
}
.main-color {
  color: #489D86;
}
.second-color {
  color: #FBC02D;
}
.txt-lg {
  font-size: 8vmin;
}
.txt-sm {
  font-size: 2.5vmin;
}
.txt-md {
  font-size: 5vmin;
}
.right-txt {
  text-align: right;
}
.center-txt {
  text-align: center;
}
.light-txt {
  color: #F4F6F6;
}
.btn-success {
  color: #F4F6F6;
  background-color: #489D86;
  border-color: #489D86;
}
.btn-success:hover {
  color: #F4F6F6;
  border-color: #FBC02D;
  background-color: #FBC02D;
  font-weight: 800;
  text-decoration: none;
}
.margin-sides {
  margin: 0 2vmin;
}
.margin-bottom {
  margin-bottom: 2vmin;
}
.margin-top {
  margin-top: 4vmin;
}
/* .border-right {
  border-right: 2px solid #489D86!important
}
.border-left {
  border-left: 2px solid #489D86!important
} */
.bckg-color1 {
  background-color: #D4EFDF;
}
.bckg-color2 {
  background-color: #FEF9E7;
}
.add-to-list:hover {
  color: #489D86;
  text-decoration: none;
}
.f-item:hover {
  color: #FBC02D;
  font-weight: 800;
  text-decoration: none;
}
.pl-min {
  font-weight: bold;
  padding: .25vmin 0.5vmin;
}


