.container-fluid {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F6F6;
  height: 100vh;
  padding: 0;
} 
.header {
  background-color: #489D86;
  padding: 0 5vmin;
  margin-bottom: 8vmin;
}
.row-sm {
  height: 20%
}
.row-lg {
  height: 50%;
}
.col-12 {
  text-align: center;
}
.main-color {
  color: #489D86;
}
.second-color {
  color: #F3C24F;
}
.txt-lg {
  font-size: 8vmin;
}
.txt-sm {
  font-size: 2.5vmin;
}
.txt-md {
  font-size: 5vmin;
}
.right-txt {
  text-align: right;
}
.center-txt {
  text-align: center;
}
.light-txt {
  color: #F4F6F6;
}
.btn-success {
  color: #F4F6F6;
  background-color: #489D86;
  border-color: #489D86;
}
.btn-success:hover {
  color: #F4F6F6;
  border-color: #F3C24F;
  background-color: #F3C24F;
  font-weight: 800;
}
.margin-sides {
  margin: 0 2vmin;
}
.margin-bottom {
  margin-bottom: 2vmin;
}
.margin-top {
  margin-top: 4vmin;
}
.border-right {
  border-right: 2px solid #489D86!important
}
.border-left {
  border-left: 2px solid #489D86!important
}
.bckg-color {
  background-color: #F3C24F;
}

